<html>

   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>

   <body>
      <h1>HI ,this   person named <p> <%= @cuser.username %> </p>is interested
      	 in your <%= @user.username %> house

      </h1>



      <p>Thanks for joining and have a great day!</p>

   </body>
</html>
