<h3 align = "center"> Applying your preference.... </h3>
<div align="center">
<%= will_paginate %>
</div>
<%= render 'house', obj: @houses %>
<div align="center">
<%= will_paginate %>
</div>
<p align="center"><%= link_to 'Reset Filter', :back %></p>
