<h1 align = "center"> Listing all Houses </h1>
<p><%= link_to "Create a House", new_house_path %></p>
</p>
<div align="center">
<%= will_paginate %>
</div>
<%= render 'house', obj: @houses %>
<div align="center">
<%= will_paginate %>
</div>
