<head>
<h1 align = "center"> Thanks for your Interest In this property </h1>
</head>
<body>
<div>
  <p align = "center"> The Owner of this property is notified with your interest..... </p>
</div>
</body>
<p align = "center"><%= link_to "Back to houses listing", houses_path, class: "btn btn-xs btn-primary" %> |
<%= link_to "Contact info of the owner", user_path(@house.user_id), class: "btn btn-xs btn-primary" %> </p>
