<hr/>
<div class="jumbotron text-center">
  <h1 class="display-4"> Rental World</h1>
  <hr/>
  <p class="lead">Your Next Chapter Starts Here!!!!</p>
  <p>25 years of trust....</p>
  <p><%= link_to "Let's Explore", houses_path,
                                  class: "btn btn-primary btn-lg btn-xlarge" %></p></a>
</div>
<div class="row">
  <div class="col-lg-4">
    <h2>About</h2>
    <p> Rental World is one of the leading house rental websites in India. We offer various range of houses catering the needs of people to lead a sophisticated and happy life.  </p>
  </div>
  <div class="col-lg-4">
    <h2>Why us?</h2>
    <p> Our first and foremost priority is our customers. We always try to improve and satisfy the customer needs. We have lakhs of customers and making them to meet at a point to sell or buy the houses </p>
 </div>
  <div class="col-lg-4">
    <h2>Let's Collobrate</h2>
    <p> Are you interested to join hands with us? Let's collobrate and make magics in rental solutions... Create a post in our website and get the tenants within a blink...  </p>
  </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small blue">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https:freshworks.com/"> freshworks.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
